* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.logo-container {
  height: 22vh;
}

.logo-container img {
  margin: auto;
  width: 90%;
}

.form {
  padding: 1em;
  height: 65vh;
  width: 80%;
}

.submit {
  background-color: #ad1e24;
}

@media only screen and (min-width: 961px) {
  .container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .logo-container {
    padding-right: 5em;
    border-right: 0.1em solid #ad1e24;
    height: 90%;
  }

  .form {
    padding-left: 5em;
  }

  .line {
    background-color: #ad1e24;
  }
}
